<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro</ion-card-title>
    </ion-card-header>

    <br>
    <ion-card-content>


      <ion-input type="text" fill="outline" label="Nome de Usuário" labelPlacement="floating"
        helperText="Entre com o nome" errorText="Nome inválido" ngModel></ion-input>

      <br>
      <ion-input type="email" fill="outline" label="Email" labelPlacement="floating" helperText="Entre com o email"
        errorText="Email inválido" ngModel email></ion-input>
      <Br>
      <ion-input type="password" fill="outline" label="Senha" labelPlacement="floating" helperText="Entre com a senha"
        errorText="Senha inválida" ngModel password></ion-input>
      <br>

      <ion-input type="password" fill="outline" label="Confirmar Senha" labelPlacement="floating" helperText=""
        errorText="Senha inválida" ngModel password></ion-input>

      <Br>


      <ion-select label="Selecione o sexo" label-placement="floating" fill="outline">
        <ion-select-option value="apple">Feminino</ion-select-option>
        <ion-select-option value="banana">Masculino</ion-select-option>
        <ion-select-option value="orange">Outro</ion-select-option>
      </ion-select>

      <br>

      <ion-label>Data de Nascimento</ion-label>
      <ion-input fill="outline" type="date" aria-label="Data de Nascimento"></ion-input>



      <br>










      <ion-button expand="block" color="tema">Cadastrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
