.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}

.edit-button {
  margin-top: 20px;



}

.name-input {
  margin-top: 20px;
}

.btpai{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

}

  .chip1{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-left: 42%;
  }

  .chip2{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding-left: 37%;
  }

  .nome{
    margin-top: 30px;
  }

  .change-photo-button {
    background-color: #531fb4; /* Cor do botão de mudança de foto */
    color: white; /* Cor do texto do botão */
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  ion-icon {
    margin-top: 20px;
    color: #531fb4; /* Cor do ícone da câmera */
  }

