<ion-header>
  <ion-toolbar color = "tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-wrapper">
    <div class="profile-picture" >
      <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + photoUrl + ')'}"></div>
    <br>
    </div>

    <div class="nome" >
      <h1>{{profile.name}} {{profile.sobrenome}}</h1>
    </div>

    <ion-icon name="camera" size="large" (click)="mudarFotoPerfil()"></ion-icon>
    <button (click)="mudarFotoPerfil()" class="change-photo-button">Mudar foto de perfil</button>

  </div>


<ion-list>

  <ion-chip class="chip1" color ="tema">Dados</ion-chip>

  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="profile.name" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sobrenome</ion-label>
    <ion-input [(ngModel)]="profile.sobrenome" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="profile.email" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type = "password" [(ngModel)]="profile.senha" [disabled]="!editingEnabled" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-input [(ngModel)]="profile.descricao" style="white-space: pre-wrap;"[disabled]="!editingEnabled"></ion-input>
  </ion-item>

<br>
  <ion-chip class="chip2" color ="tema">Instrumentos</ion-chip>

  <br>

<BR>

  <p>Cordas</p>

            <ion-item >

              <ion-select  [(ngModel)]="profile.instrumentos" [disabled]="!editingEnabled" placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
                <ion-select-option value="violao">Violão</ion-select-option>
                <ion-select-option value="guitarra">Guitarra</ion-select-option>
                <ion-select-option value="piano">Piano</ion-select-option>
                <ion-select-option value="teclado">Teclado</ion-select-option>
                <ion-select-option value="baixo">Baixo</ion-select-option>
                <ion-select-option value="violino">Violino</ion-select-option>
                <ion-select-option value="violoncelo">Violoncelo</ion-select-option>
                <ion-select-option value="viola">Viola</ion-select-option>
                <ion-select-option value="ukulele">Ukulele</ion-select-option>
                <ion-select-option value="cavaquinho">Cavaquinho</ion-select-option>
                <ion-select-option value="harpa">Harpa</ion-select-option>

              </ion-select>
            </ion-item>

<br>

<p>Sopro</p>

            <ion-item>
            <ion-select [disabled]="!editingEnabled" placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
              <ion-select-option value="clarinete">Clarinete</ion-select-option>
              <ion-select-option value="flauta">Flauta</ion-select-option>
              <ion-select-option value="saxofone">Saxofone</ion-select-option>
              <ion-select-option value="trombone">Trombone</ion-select-option>
              <ion-select-option value="trompete">Trompete</ion-select-option>
              <ion-select-option value="gaita">Gaita</ion-select-option>
              <ion-select-option value="tuba">Tuba</ion-select-option>

            </ion-select>
          </ion-item>
<br>

<p>Percussão</p>
            <ion-item>
            <ion-select [disabled]="!editingEnabled" placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
              <ion-select-option value="bateria">Bateria</ion-select-option>
              <ion-select-option value="cajon">Cajon</ion-select-option>
              <ion-select-option value="pandeiro">Pandeiro</ion-select-option>
              <ion-select-option value="tambor">Tambor</ion-select-option>
              <ion-select-option value="tamborim">Tamborim</ion-select-option>
            </ion-select>
          </ion-item>
<br>


</ion-list>

<div class = "btpai">
<ion-button shape = round color = tema expand="full" [hidden]="editingEnabled" (click)="enableEditing()">Editar</ion-button>
<ion-button shape = round color = tema expand="full" [hidden]="!editingEnabled" (click)="saveProfile()">Salvar</ion-button>
</div>
</ion-content>
