<ion-header>
  <ion-toolbar color = "tema">
    <ion-title>Sua conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-icon name="people-outline" color="dark"></ion-icon>
      <ion-text>Alterar email:</ion-text>
    </ion-item>
    </ion-card-header>


<ion-card-content>



  <ion-input type="email" fill="outline" label="Email" labelPlacement="floating"
  helperText="" errorText="Email inválido" ngModel></ion-input>

  <br>
  <ion-button expand="block" color="tema">Alterar</ion-button>

</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-icon name="people-outline" color="dark"></ion-icon>
      <ion-text>Alterar senha:</ion-text>
    </ion-item>
    </ion-card-header>


<ion-card-content>



  <ion-input type="password" fill="outline" label="Senha" labelPlacement="floating"
  helperText="" errorText="Senha inválida" ngModel></ion-input>

  <br>
  <ion-button expand="block" color="tema">Alterar</ion-button>

</ion-card-content>
  </ion-card>




</ion-content>
