<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ contact.name }}</ion-title>
    <ion-avatar slot="end">
      <img [src]="contact.avatar">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages" [class]="message.sender === 'me' ? 'sent' : 'received'">
      <div class="message-content">
        <div class="message-text">{{ message.text }}</div>
        <div class="message-time">{{ message.time }}</div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Digite sua mensagem"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()">Enviar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
