<ion-header [translucent]="true">
  <ion-toolbar color = tema>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-item color = tema>
    <ion-avatar slot="start">


      <img src="../../assets/usuario.png">

    </ion-avatar>
    <ion-label >
      Jose
    </ion-label>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">





</ion-content>
<ion-footer>
  <ion-list>
    <ion-item>
      <ion-input ></ion-input>
      <ion-button fill="clear" ><ion-icon  name="navigate"></ion-icon></ion-button>

    </ion-item>
  </ion-list>
</ion-footer>
