<ion-header >
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

  <ion-card-header>
    <ion-card-title>
      <h1>Login</h1>
    </ion-card-title>
  </ion-card-header>


  <Br>



  <ion-card-content>
  <ion-input type="text" fill="outline" label="Nome" labelPlacement="floating"
  helperText="" errorText="Nome inválido" ngModel></ion-input>

<br>

<ion-input type="password" fill="outline" label="Senha" labelPlacement="floating" helperText=""
errorText="Senha inválida" ngModel password></ion-input>


    <div class="links" color = "tema">
      <a href="#" [routerLink]="['/esqueceusenha']" routerLinkActive="router-link-active" >Esqueceu sua senha?</a>
    </div>
<br>

    <ion-button color = "tema" expand="block" shape="round" [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active" >Login</ion-button>
  </ion-card-content>
  </ion-card>

</ion-content>
