<ion-header >
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="../../assets/usuario.png" alt="logo da imagem">
  </div>

  <Br>

<div class ="login">
  <ion-input type="text" fill="outline" label="Nome" labelPlacement="floating"
  helperText="" errorText="Nome inválido" ngModel></ion-input>

<br>

<ion-input type="password" fill="outline" label="Senha" labelPlacement="floating" helperText=""
errorText="Senha inválida" ngModel password></ion-input>
</div>

    <div class="links" color = "dark">
      <a href="#" color="dark" [routerLink]="['/esqueceusenha']" routerLinkActive="router-link-active" >Esqueceu sua senha?</a>
    </div>
<br>

    <ion-button color = "tema" expand="block" shape="round" [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active" >Login</ion-button>


</ion-content>
