<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Comentários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let comentario of comentarios">
    <ion-card-header>
      <ion-avatar>
        <ion-img [src]="comentario.foto"></ion-img>
      </ion-avatar>
      <ion-card-title class = "nomeUsuario" style="white-space: pre-wrap;">{{comentario.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="comentario.texto" readonly="{{!comentario.editando}}"></ion-textarea>
      <p>{{comentario.horario | date:'dd/MM/yyyy HH:mm'}}</p>
      <ion-button (click)="editarComentario(comentario)" *ngIf="!comentario.editando">Editar</ion-button>
      <ion-button (click)="salvarComentario(comentario)" *ngIf="comentario.editando">Salvar</ion-button>
      <ion-button (click)="excluirComentario(comentario)">Excluir</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-avatar>
          <ion-img [src]="fotoUsuario"></ion-img>
        </ion-avatar>
        <ion-label class = "nomeUsuario" style="white-space: pre-wrap;" >{{nomeUsuario}}</ion-label>
      </ion-item>
      <ion-textarea [(ngModel)]="novoComentario" placeholder="Escreva seu comentário"></ion-textarea>
      <ion-button (click)="adicionarComentario()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
