<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Guitarra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Pesquisa"
    ></ion-searchbar>

    <br />

    <ion-card-title>Professores</ion-card-title>
    <ion-card-subtitle>{{user.func}}</ion-card-subtitle>
  </ion-card-header>

  <img src="../../assets/carinhatriste.png" alt="">
  <br>
  <h1>Aqui ainda não há professores!</h1>

</ion-content>
