
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tema">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color = "tema">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img class = "logo" src="../../assets/logo_tcc__1_-removebg-preview.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


<ion-searchbar animated="true" mode="ios" placeholder="Pesquisa"></ion-searchbar>

<ion-card class="cardvio" color="light">
  <ion-card-header>
    <ion-card-title>VIOLÃO</ion-card-title>
</ion-card-header>

  <ion-card-content>
    <img class= "imgvio" src="https://static.vecteezy.com/system/resources/previews/001/206/472/non_2x/stringed-music-instrument-guitar-png.png" alt="">
  </ion-card-content>
</ion-card>
  </ion-content>


</div>

