<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tema">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tema">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img
          class="logo"
          src="../../assets/logo_tcc__1_-removebg-preview.png"
          alt=""
        />
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Pesquisa"
    ></ion-searchbar>
<ion-title class="title">PRINCIPAIS INSTRUMENTOS</ion-title>


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>CANTO</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgs" src="../../assets/microfone.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>VIOLÃO</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgs" src="../../assets/violao.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>TECLADO</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgs" src="../../assets/teclado.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>PIANO</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgs" src="../../assets/piano.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>GUITARRA</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgs" src="../../assets/guitar.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="cardvio" color="light">
            <ion-card-header>
              <ion-card-title>BATERIA</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <img class="imgvio" src="../../assets/bateria.png" alt="" />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button fill="clear" expand="block">Mais opções</ion-button>
  </ion-content>
</div>
