<ion-header [translucent]="true">
  <ion-toolbar color = tema>
    <ion-title mode = "ios">
      CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="toggleComentarios()">Comentários</ion-button>

  <ion-card *ngIf="mostrarComentarios">
    <ion-card-content>
      <ion-item>
        <ion-avatar>
          <ion-img [src]="fotoUsuario"></ion-img>
        </ion-avatar>
        <ion-label>{{nomeUsuario}}</ion-label>
      </ion-item>
      <ion-textarea [(ngModel)]="novoComentario" placeholder="Escreva seu comentário"></ion-textarea>
      <ion-button (click)="adicionarComentario()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let comentario of comentarios">
    <ion-card-content>
      <ion-item>
        <ion-avatar>
          <ion-img [src]="comentario.foto"></ion-img>
        </ion-avatar>
        <ion-label>{{comentario.nome}}</ion-label>
      </ion-item>
      <ion-textarea readonly>{{comentario.texto}}</ion-textarea>
      <p>{{comentario.horario | date:'dd/MM/yyyy HH:mm'}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
