<ion-header>
  <ion-toolbar color = tema>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card-header>
  <ion-card-title>Criadores</ion-card-title>
</ion-card-header>

<ion-card>
  <img alt="" src="../../assets/ary.png"/>
  <ion-card-header>
    <ion-card-title>Arianny Oliveira Flavio</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Quem canta seus males espanta!
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="" src="../../assets/cris.png"/>
  <ion-card-header>
    <ion-card-title>Cristian dos Santos Machado</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A música é a arte mais direta. Ele entra no ouvido, vai para o coração e manifesta-se na alma.
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="" src="../../assets/isa.png"/>
  <ion-card-header>
    <ion-card-title>Isabelli Kevia da Silva</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A música é a linguagem universal da humanidade!
  </ion-card-content>
</ion-card>


</ion-content>
