<ion-header>
  <ion-toolbar color = tema>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
  <h2>Bem-vindo ao Sound Sage!</h2>
  <p>O Sound Sage é um aplicativo desenvolvido para ajudar você a encontrar professores particulares de música em sua área. Antes de usar o SoundSage, pedimos que leia e concorde com nossos Termos de Uso e Política de Privacidade. Estes termos regem o uso do aplicativo e os dados que coletamos de você.</p>


  <h3>2. Uso do SoundSage</h3>
  <p>2.1. O Sound Sage é um serviço que permite que você encontre professores particulares de música. Você concorda em usar o aplicativo apenas para fins legítimos e de acordo com todas as leis aplicáveis.</p>
  <p>2.2. Você é responsável por qualquer informação fornecida ao Sound Sage, incluindo dados pessoais, preferências de aula e feedback sobre professores.</p>

  <h3>3. Política de Privacidade</h3>
  <p>3.1. Respeitamos sua privacidade. Para entender como coletamos, usamos e protegemos suas informações, consulte nossa Política de Privacidade.</p>

  <h3>4. Segurança</h3>
  <p>4.1. Mantenha sua senha segura e não a compartilhe com terceiros. Você é responsável por todas as ações realizadas na sua conta.</p>
  <p>4.2. Denuncie qualquer atividade suspeita ou violação de segurança imediatamente à equipe do Sound Sage.</p>


  <h3>6. Contato</h3>
  <p>Se tiver alguma dúvida, comentários ou preocupações sobre os Termos de Uso ou a Política de Privacidade do SoundSage, entre em contato conosco em support@soundsage.com.</p>

  <h2>Criadores do SoundSage:</h2>

  <p>Arianny Oliveira Flavio</p>
  <p>Cristian dos Santos Machado</p>
  <p>Isabelli Kevia da Silva</p>
</ion-card-content>
</ion-card>

</ion-content>
