<ion-header>
  <ion-toolbar color = "tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar Perfil Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-wrapper">
    <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + photoUrl + ')'}"></div>
    <br>
    <div class="nome" >
      <h1>{{profile.name}} {{profile.sobrenome}}</h1>
    </div>
    <ion-icon color= "tema" name="camera" size="large" (click)="mudarFotoPerfil()"></ion-icon>
  <button (click)="mudarFotoPerfil()" color="tema" class="change-photo-button">Mudar foto de perfil</button>
  </div>

  <br>
  <ion-chip class="chip1" color ="tema">Dados</ion-chip>

<ion-list>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="profile.name" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sobrenome</ion-label>
    <ion-input [(ngModel)]="profile.sobrenome" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="profile.email" [disabled]="!editingEnabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input   type="password" [(ngModel)]="profile.senha" [disabled]="!editingEnabled"></ion-input>
  </ion-item>
</ion-list>

<div class = "btpai">
<ion-button shape = round color = tema expand="full" [hidden]="editingEnabled" (click)="enableEditing()">Editar</ion-button>
<ion-button shape = round color = tema expand="full" [hidden]="!editingEnabled" (click)="saveProfile()">Salvar</ion-button>
</div>
</ion-content>
