<ion-header>
  <ion-toolbar color = "tema">
    <ion-title>
      Editar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-wrapper">
    <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + photoUrl + ')'}"></div>
    <div class="nome" >
      <h1>Arianny</h1>
    </div>
  </div>
  <div class = "btpai">
  <ion-button shape="round" color="tema" class="edit-button" (click)="editarPerfil()">Editar Perfil</ion-button>


</div>
</ion-content>
