ion-avatar img {
  border-radius: 50%;
  width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 60px; /* Ajuste o tamanho da imagem conforme necessário */
}

ion-card {
  margin: 20px;
}
