<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Piano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Pesquisa"
    ></ion-searchbar>

    <br />

    <ion-card-title>Professores</ion-card-title>
    <ion-card-subtitle>Piano</ion-card-subtitle>
  </ion-card-header>
  <ion-card *ngFor="let professor of professores">
    <ion-card-header>
        <ion-avatar>
          <img alt="Instrument" [src]="professor.imgprof"/>
        </ion-avatar>
      <ion-card-title>{{ professor.nome }}</ion-card-title>
      <ion-card-subtitle>{{ professor.cidade}} - {{professor.uf}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Bio:</strong>{{ professor.bio }}</p>
      <p><strong>Telefone:</strong> {{ professor.tell }}</p>
      <p><strong>Email:</strong> {{ professor.email }}</p>
    </ion-card-content>
  </ion-card>

  <br>
</ion-content>
