<ion-header>
  <ion-toolbar color="tema">

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Professor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input  type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar senha</ion-label>
        <ion-input  type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" position="floating">Sexo</ion-label>
<br>
<ion-list>
  <ion-item>
    <ion-select interface="popover" placeholder="Selecionar Sexo">
      <ion-select-option value="fem">Feminino</ion-select-option>
      <ion-select-option value="masc">Masculino</ion-select-option>
      <ion-select-option value="or">Outro</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de Nascimento</ion-label>
        <br>
        <ion-input  type="date"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label class ="text" position="floating">Instrumentos</ion-label>
        <br>



        <ion-list >
          <ion-item>
            <ion-label>CORDAS</ion-label>
            <ion-select placeholder="Selecione" cancelText="Cancelar"  [multiple]="true" okText="Ok">
              <ion-select-option value="apples">Violão</ion-select-option>
              <ion-select-option value="oranges">Guitarra</ion-select-option>
              <ion-select-option value="bananas">Baixo</ion-select-option>
              <ion-select-option value="bananas">Violino</ion-select-option>
              <ion-select-option value="bananas">Violoncelo</ion-select-option>
              <ion-select-option value="bananas">Contrabaixo Elétrico</ion-select-option>
              <ion-select-option value="bananas">Contrabaixo Acústico</ion-select-option>
              <ion-select-option value="bananas">Viola</ion-select-option>
              <ion-select-option value="bananas">Ukulele</ion-select-option>
              <ion-select-option value="bananas">Cavaquinho</ion-select-option>
              <ion-select-option value="bananas">Harpa</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>SOPRO</ion-label>
            <ion-select placeholder="Selecione" cancelText="Cancelar"  [multiple]="true" okText="Ok">
              <ion-select-option value="apples">Clarinete</ion-select-option>
              <ion-select-option value="oranges">Flauta</ion-select-option>
              <ion-select-option value="bananas">Saxofone</ion-select-option>
              <ion-select-option value="bananas">Trombone</ion-select-option>
              <ion-select-option value="bananas">Trompete</ion-select-option>
              <ion-select-option value="bananas">Gaita</ion-select-option>
              <ion-select-option value="bananas">Tuba</ion-select-option>

            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>PERCUSSÃO</ion-label>
            <ion-select placeholder="Selecione" cancelText="Cancelar"  [multiple]="true" okText="Ok">
              <ion-select-option value="apples">Bateria</ion-select-option>
              <ion-select-option value="oranges">Cajon</ion-select-option>
              <ion-select-option value="bananas">Pandeiro</ion-select-option>
              <ion-select-option value="bananas">Tambor</ion-select-option>
              <ion-select-option value="bananas">Caixa</ion-select-option>
              <ion-select-option value="bananas">Chocalho</ion-select-option>
              <ion-select-option value="bananas">Tamborim</ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input ></ion-input>
      </ion-item>



<br>


            <ion-item>
              <ion-label class="text" position="floating">Cidade</ion-label>
              <br>


            </ion-item>
          </ion-list>
        </ion-item>


      <ion-button expand="block" color = "tema" >Cadastrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
