<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>

      <ion-input type="text" required fill="outline" label="Nome" labelPlacement="floating"
        helperText="Entre com o nome" errorText="Nome inválido" ngModel></ion-input>

      <br>

      <ion-input type="text" required fill="outline" label="Sobrenome" labelPlacement="floating"
        helperText="Entre com o sobrenome" errorText="Sobrenome inválido" ngModel></ion-input>

      <br>

      <ion-input type="email" required fill="outline" label="Email" labelPlacement="floating" helperText="Entre com o email"
      errorText="Email inválido" ngModel email></ion-input>
    <Br>

      <ion-input type="password" required fill="outline" label="Senha" labelPlacement="floating" helperText="Entre com a senha"
        errorText="Senha inválida" ngModel password></ion-input>
      <br>

      <ion-input type="password" required fill="outline" label="Confirmar Senha" labelPlacement="floating" helperText=""
        errorText="Senha inválida" ngModel password></ion-input>

      <Br>

        <ion-label>Sexo</ion-label>
        <ion-select required label="Selecione o sexo" label-placement="floating" fill="outline">
          <ion-select-option value="feminino">Feminino</ion-select-option>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="outro">Outro</ion-select-option>
        </ion-select>

        <br>

        <ion-label>Data de Nascimento</ion-label>
        <ion-input required fill="outline" type="date" aria-label="Data de Nascimento"></ion-input>

        <br>

        <ion-label><h2>Instrumentos</h2></ion-label>

        <br>

            <ion-label>CORDAS</ion-label>
            <ion-item>
              <ion-select required placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
                <ion-select-option value="violao">Violão</ion-select-option>
                <ion-select-option value="guitarra">Guitarra</ion-select-option>
                <ion-select-option value="piano">Piano</ion-select-option>
                <ion-select-option value="teclado">Teclado</ion-select-option>
                <ion-select-option value="baixo">Baixo</ion-select-option>
                <ion-select-option value="violino">Violino</ion-select-option>
                <ion-select-option value="violoncelo">Violoncelo</ion-select-option>
                <ion-select-option value="viola">Viola</ion-select-option>
                <ion-select-option value="ukulele">Ukulele</ion-select-option>
                <ion-select-option value="cavaquinho">Cavaquinho</ion-select-option>
                <ion-select-option value="harpa">Harpa</ion-select-option>

              </ion-select>
            </ion-item>

<br>
            <ion-label>SOPRO</ion-label>
            <ion-item>
            <ion-select required placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
              <ion-select-option value="clarinete">Clarinete</ion-select-option>
              <ion-select-option value="flauta">Flauta</ion-select-option>
              <ion-select-option value="saxofone">Saxofone</ion-select-option>
              <ion-select-option value="trombone">Trombone</ion-select-option>
              <ion-select-option value="trompete">Trompete</ion-select-option>
              <ion-select-option value="gaita">Gaita</ion-select-option>
              <ion-select-option value="tuba">Tuba</ion-select-option>

            </ion-select>
          </ion-item>
<br>

            <ion-label>PERCUSSÃO</ion-label>
            <ion-item>
            <ion-select required placeholder="Selecione" cancelText="Cancelar" [multiple]="true" okText="Ok">
              <ion-select-option value="bateria">Bateria</ion-select-option>
              <ion-select-option value="cajon">Cajon</ion-select-option>
              <ion-select-option value="pandeiro">Pandeiro</ion-select-option>
              <ion-select-option value="tambor">Tambor</ion-select-option>
              <ion-select-option value="tamborim">Tamborim</ion-select-option>
            </ion-select>
          </ion-item>
<br>

            <ion-label>OUTROS INSTRUMENTOS:</ion-label>
            <ion-item>
            <ion-input required type="text"></ion-input>
          </ion-item>

          <br>

          <ion-label>Cidade:</ion-label>
          <ion-input required fill="outline" label=""></ion-input>

        <br>

          <ion-button required expand="block" color="tema" [routerLink]="['/tabs/tab2']" routerLinkActive="router-link-active">Cadastrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
