ion-grid{
  background: rgb(12,15,52);
  background: radial-gradient(circle, rgba(12,15,52,1) 31%, rgba(12,16,92,1) 33%, rgba(100,20,157,1) 48%, rgba(37,7,93,1) 61%, rgba(32,35,122,1) 75%);
  height: 100%;
  width: 100%;
}
