<ion-header></ion-header>

<ion-content>
  <div id="bg"></div>


      <img id="logo" src="../../assets/1-removebg-preview (1).png" alt="">


    <ion-row [class]="showInicio ? '' : 'mb'">
      <ion-button
        class="dropdown-btn"
        (click)="toggleInicio()"
        shape="round"
        color="light"
        fill="outline"
        >Cadastro
      </ion-button>
    </ion-row>
    <ion-row class="dropdown-list" *ngIf="showInicio">
      <ion-item
        class="corbotao"
        (click)="selectOption('Opção 1')"
        [routerLink]="['/cadatroprof']"
        routerLinkActive="router-link-active"
        >Professor</ion-item
      >

      <ion-item
        (click)="selectOption('Opção 2')"
        [routerLink]="['/cadastro']"
        routerLinkActive="router-link-active"
        >Aluno</ion-item
      >
    </ion-row>
    <ion-row>
      <ion-button
        class="dropdown-btn"
        shape="round"
        color="light"
        fill="outline"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
        >Login</ion-button
      >
    </ion-row>

</ion-content>
