@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.cor {
  width: 100%;
  height: 100%;
}

#bg {
  position: absolute;

  width: 100%;
  height: 100vh;
  background-image: url("..//../assets/logo tcc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: -1;
}

ion-grid {
  height: 100%;
}



#logo {
  height: 40%;
  margin-top: 12%;


}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}




ion-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
}

.dropdown-btn {
  text-align: center;
  display: flex;
  align-items: center;
  height: 70%;
  width: 95%;
  border: none;
  font-size: 1rem;
  margin-top: 11%;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  ion-icon {
    margin-left: auto;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  &.expanded {
    ion-icon {
      transform: rotate(180deg);
    }
  }
}
.dropdown-list {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  ion-item {
    cursor: pointer;
  }
}

//.mb {  // deixa junto os botoes de cadastro e login
 // margin-bottom: 1px;
//}
