<ion-header>

</ion-header>

<ion-content>
  <ion-grid>
    <img src="..//../assets/logo_tcc__2_-removebg-preview.png" alt="">
    <ion-button expand="block" color="tema" [routerLink]="['/cadatroprof']" routerLinkActive="router-link-active" >Cadastrar-se como professor</ion-button>
    <ion-button expand="block" color="tema" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar-se como aluno</ion-button>
    <ion-button expand="block" color="tema">Fazer Login</ion-button>
  </ion-grid>
</ion-content>
