ion-avatar img {
  border-radius: 50%;
  width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 60px; /* Ajuste o tamanho da imagem conforme necessário */
}

ion-card {
  margin: 20px;
}


.tristetexto {
  text-align: center;
  margin-top: auto;
  font-size: 30px;

}

.triste{
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin: auto;
left: 50%;
right: 50%;
  width: 30%;
  display: flex;
  padding-top: 40%;
}
