<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Canto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Pesquisa"
    ></ion-searchbar>

    <br />

    <ion-card-title>Professores</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card>
    <ion-card-header>
        <ion-avatar>
          <img alt="Instrument" [src]="user.imageUrl"/>
        </ion-avatar>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <ion-card-subtitle>{{ user.city }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ user.bio }}</p>
      <p><strong>Endereço:</strong> {{ user.address }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>-->
</ion-content>
