<ion-header>
  <ion-toolbar color="tema">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >{{ instrumento }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Pesquise a cidade"
      (ionInput)="pesquisarCidade($event)"
    ></ion-searchbar>

    <br />

    <ion-card-title>Professores</ion-card-title>
    <ion-card-subtitle>{{ instrumento }}</ion-card-subtitle>

  </ion-card-header>


  <ion-card [routerLink]="['/tabalasdecadastro2']" routerLinkActive="router-link-active" *ngFor="let professor of dataResultados" >
    <ion-card-header>
        <ion-avatar>
          <img alt="Instrument" [src]="professor.imgprof" />
        </ion-avatar>
      <ion-card-title>{{professor.nome}} {{professor.sobrenome}}</ion-card-title>
      <ion-card-subtitle>{{professor.cidade}} - {{professor.uf}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Bio:</strong> {{professor.bio}}</p>
      <br>
      <p><strong>Telefone: </strong>{{professor.tell}}</p>
      <br>
      <p><strong>Email: </strong>{{professor.email}}</p>
    </ion-card-content>
    <br>

    <ion-list>
      <ion-item>
        <ion-chip color="tema" class="coments"  >Dar feedback</ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>

  <br>

  <div *ngIf="data.content === undefined || data.content.length < 1">
    <img class="triste" src="../../assets/carinhatriste.png" alt="">
    <br>
    <h1 class="tristetexto">Aqui ainda não há professores!</h1>
  </div>

</ion-content>
